/**
 * Sections: Featured collection
 * -----------------------------------------------------------------------------
 * Base styling for the featured collection product grid.
 *
 */

/* Colors */
 $grey: #9B9B9B;
 $brandBlue: #003366;

/* breakpoints */
$bp-mobile-lg: 421px;
$bp-tablet: 769px;
$bp-desktop: 1025px;

 /* mixins */
 @mixin button ($background, $color) {
    background: $background;
    color: $color;
 }

.featured-collection {

  font-family: 'Helvetica', 'Arial', sans-serif;

  .btn {
    border: none;
    font-size: 1.4rem;
    width: 12.5rem;
    height: 4.2rem;
    line-height: 4.2rem;
    @media screen and (min-width: $bp-tablet) {
      font-size: 1.8rem;
      width: 17.5rem;
      height: 5.5rem;
      line-height: 5.5rem;
    }
    text-align: center;
    font-weight: bold;
  }

  .btn__primary {
    @include button($brandBlue, #fff);
  }

  .btn__secondary {
    @include button(#fff, $brandBlue);
  }

  margin: 0 auto;
  width: 90%;
  @media screen and (min-width: $bp-tablet) {
    width: 80%;
  }

  h1 {
      color: $brandBlue;
      font-size: 2.8rem;
      line-height: 3.4rem;
      letter-spacing: normal;
      @media screen and (min-width: $bp-tablet) {
        font-size: 4rem;
        line-height: 4.9rem;
      }
      text-align: center;
  }

  h5 {
    color: $brandBlue;
    font-size: 1.6rem;
    line-height: 1.9rem;
    letter-spacing: normal;
    @media screen and (min-width: $bp-tablet) {
      font-size: 2.1rem;
      line-height: 2.6rem;
    }
    
    margin: 2rem 0 1rem;
  }

  p {
    font-size: 1.4rem;
    line-height: 2.1rem;
    @media screen and (min-width: $bp-tablet) {
      font-size: 1.8rem;
      line-height: 2.6rem;
    }
    letter-spacing: normal;
    max-width: 61.1rem;
    margin: 0 auto;
    margin-bottom: 3rem;

    & + span,
    & > span {
        color: $grey;
    }

  }

  .main-carousel {
    padding-bottom: 5rem;
    margin-bottom: 2rem;
    a {    
      width: 100%;
      display: block;

      @media screen and (min-width: $bp-mobile-lg) {
        width: calc(100% / 2);
      }
      @media screen and (min-width: $bp-tablet) {
        width: calc(100% / 3);
      }
      @media screen and (min-width: $bp-desktop) {
        width: calc(100% / 4);
      }

      padding: 0 1rem;
      text-decoration: none;
      color: $grey;

      .carousel-cell {
          position: relative;

          img {
              margin: 0 auto;
              display: block;
              width: 100%;
              transition: all .2s ease-in-out;
          }

          .btn {
            width: 85%;
            left: 0;
            right: 0;
            margin: 0 auto;
          }

          & + div {
            margin: 0 auto;
          }

          span {
            position: absolute;
            bottom: 1.5rem;
            left: 50%;
            margin-left: calc(-17.5rem / 2);
            display: none;
        }

        &:hover {
          img {
            opacity: 0.5;
            transform: scale(1.02);
          }
          span {
            display: block;
          }
        }
      }
    }
  }

  #collection {
    display: block;
    margin: 0 auto 2rem;;
  }

  .flickity-button {
    background: none;
    display: none;
    @media screen and (min-width: $bp-tablet) {
      display: block;
      top: 35%;
    }
    &.previous {
      left: -3rem;
    }
    &.next {
      right: -3rem;
    }
  }

  .flickity-page-dots {
    bottom: 1.5rem;
  }
}